.card {
  width: 15.625rem;

  &__info {
    margin: 1.563rem 0 2.188rem;
    .specs {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      margin-bottom: 0.938rem;
      > p, 
      > div {
        border: 0.063rem solid black;
        height: 1.875rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      > p, 
      div:first-of-type {
        width: 40%;
        border-right: none;
        span {
          margin-left: 0.5rem;
        }
      }
      div:last-of-type {
        width: 20%;
      }
    }
  }

  .card__button {
    button {
      border: 0.063rem solid black;
      height: 1.875rem;
      width: 4.375rem;
      transition: all 0.5s ease-in-out;
    }
    button:hover {
      background-color: var(--color-red-orange);
      border-color: var(--color-red-orange);
      color: white;
    }
  }
}