.landing__section {
	margin-top: 6.875rem;
	margin-bottom: 7.5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	.action_btn {
		border-radius: 1.25rem;
		background-color: var(--color-black);
		width: 12.5rem;
		height: 2.188rem;
		color: white;
		display: flex;
		gap: 1.25rem;
		justify-content: center;
		align-items: center;
		position: absolute;
		margin-left: 40.625rem;
		margin-top: 5rem;
		transition: all 0.5s ease-in-out;
	}
	.action_btn:hover {
		background-color: var(--color-red-orange);
	}
}

.about__section {
	.header_title {
		font-family: var(--title-font);
		font-size: 2.5rem;
		margin-bottom: 0.938rem;
		span {
			color: var(--color-red-orange);
		}
	}
	.sample_item__container {
		display: flex;
		flex-wrap: wrap;
		gap: 3.125rem;
		justify-content: center;
		margin: 4.375rem 0;
	}
	.bottom__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 11.25rem;
		.sushi__container {
			display: flex;
			flex-direction: column;
			gap: 1.25rem;
		}
		.info__container {
			display: flex;
			flex-direction: column;
			gap: 4.375rem;
			p {
				max-width: 28.125rem;
			}
		}
	}
}
