.category__section {
  margin: 5rem 0;
  padding-bottom: 0.938rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.125rem solid var(--color-black);
  ul {
    display: flex;
    gap: 1.563rem;
    list-style-type: none;
  }
  .category__item {
    color: black;
    cursor: pointer;
    &_active {
      color: var(--color-red-orange);
    }
    &:hover {
      color: var(--color-red-orange);
      transition: all 0.5s ease-in-out;
    }
  }
  .search__container {
    border-bottom: 0.063rem solid var(--color-gray);
    padding-bottom: 0.125rem;
    display: flex;
    align-items: center;
    input {
      width: 15.625rem;
      border: none;
      outline: none;
    }
    img {
      padding: 0.125rem;
      cursor: pointer;
    }
  }
}
.menu__section {
  display: flex;
  column-gap: 9.375rem;
  row-gap: 6.25rem;
  flex-wrap: wrap;
}