.category__section {
  margin: 80px 0;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-black);
  ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
  }
  .category__item {
    color: black;
    cursor: pointer;
    &_active {
      color: var(--color-red-orange);
    }
    &:hover {
      color: var(--color-red-orange);
      transition: all 0.5s ease-in-out;
    }
  }
  .search__container {
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    input {
      width: 250px;
      border: none;
      outline: none;
    }
    img {
      padding: 2px;
      cursor: pointer;
    }
  }
}
.menu__section {
  display: flex;
  column-gap: 150px;
  row-gap: 100px;
  flex-wrap: wrap;
}